* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: hsl(0, 0%, 81%);
    font-weight: 600;
}

.container {
    display: grid;
    padding: 5px;
    width: 1380px;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    padding: 50px;
    margin: auto;
}

.item1 {
    background: url('images/bg-pattern-quotation.svg') no-repeat right top;
    background-position: 380px 5px;
    background-size: 140px;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: hsl(263, 55%, 52%);
    padding: 15px;
  }

  .item2 {
    border-radius: 10px;
    padding: 15px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: hsl(217, 19%, 35%);
  }
  .item3 {
    background: white;
    border-radius: 10px;
    padding: 15px;
    grid-row-start: 1;
    grid-row-end: 12;
    grid-column-start: 7;
    grid-column-end: auto;
  }

  .item4 { 
    background: white;  
    border-radius: 10px;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 12;
  }

  .item5 {
    border-radius: 10px;
    padding: 15px;
    background-color: hsl(219, 29%, 14%);
    grid-row-start: 3;
    grid-row-end: 12;
    grid-column-start: 3;
    grid-column-end: 7;  
    
  }

  .cabecalho {
      margin-left: 15px; 
      line-height: 25px; 
  }


.nome {
    color:  hsl(210, 46%, 95%);
}

.titulo {
    color: hsla(0, 0%, 81%,0.5);
}

.destaque {
    color:  hsl(210, 46%, 95%);
    font-size: 1.8em;
    padding-top: 25px;
}

body p {
    color:hsla(210, 46%, 95%,0.7);
    line-height: 20px;
    padding-top: 25px;
}

.header {
    align-items: center;
    justify-items: center;
    display: flex;
}

.header img {
    border-radius: 50%;
    border: 3px solid hsla(210, 46%, 95%, 0.3);
}


.item3 h2, .item3 h3, .item3 h4, .item3 p,
.item4 h2, .item4 h3, .item4 h4, .item4 p  {
    color: black;
}

.item5 img {
    border: 3px solid hsl(263, 55%, 52%);
}